p{
    font-size: 30px;
    width:400px;
     height:300px;
}


#ima1{
    width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
    text-align: right;
}

#ima2{
    width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
    text-align: right;
}

#ima3{
    width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
    text-align: right;
}

#ima4{width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
    text-align: right;
}

#ima5{
    width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
    text-align: right;
}

#ima6{
    width:200px;
    height:200px;
    padding:20px;
    border-radius:15%;
 text-align: right;
}

